<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/static.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/jsStatic.js" type="module"></script>
    </head>

<body>
    <!---NAV-->
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <button class="nav-link active" onclick="goHome()">Home</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" onclick="findUserBlog()">Blog</button>
        </li>
      </ul>
    <!---NAV-->

    <div id="feed" class="container">
        <div id="contentHeader" class="container">
            <h2><%= author %></h2>
            <h3></h3>
            <h3><%= subject %> : <%= date %></h3>
        </div>
        <div id="content"><%= content %></div>
        <div id="comment">
            <form action="#" method="POST">
                <fieldset>
                    <legend>Comments</legend>
                    <label for="commentName">Name:</label>
                    <input type="text" name="commentName" id="commentName" value="" placeholder="Name">
                    <br>
                    <label for="commentInput">Comment:</label>
                    <textarea name="commentInput" id="commentInput" placeholder="I really like..."></textarea>            
                    <button id="addComment">Submit</button>
                </fieldset>
            </form>

        </div>
    </div>
</body>

</html>